/*           Font Smoothing      */
body,
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6, 
p, 
.navbar, 
.brand, 
.btn-simple,
.alert, 
a, 
.td-name, 
td,
{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins","Helvetica Neue",Arial,sans-serif;
}

h1 {
    font-size: 35px;
    font-weight: 500;
    color: #006BAA;
}

p{
    font-size: $font-paragraph;
    line-height: $line-height-general;
}

.text-success, .text-success:hover{
    color: $success-color;
}
.text-warning, .text-warning:hover{
    color: $warning-color;
}
.text-danger, .text-danger:hover{
    color: $error-color;
}
