$sidebar-width: calc(100% - 220px) !default;
$sidebar-background: #006BAA;
$link-hover-background: #69D0F1;
$border-radius-card: 4px;
$font-paragraph: 16px;
$line-height-general: 1.5;
$warning-color: #FFC43D;
$success-color: #06D6A0;
$error-color: #EF476F;
