.navbar {
    padding: 3px 0px 2px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    .navbar-toggle {
        float: left;
        background-color: transparent;
        border: none;
        .icon-bar {
            background-color: #777777;
        }
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
    .navbar-toggle{
        &:hover {
            .icon-bar {
                background-color: $green-color;
            }
        }
    }
}