.main-panel{
    background: #F6F7FB;
    position: relative;
    float: right;
    width: $sidebar-width;
    min-height: 100vh;
    > .content{
        padding: 30px 15px;
        min-height: calc(100% - 123px);
    }

    > .footer{
        border-top: 1px solid #e7e7e7;
    }

    .navbar{
        margin-bottom: 0;
        background-color: #FFF;
    }
}