/*          Changes for small display      */

@media (max-width: 991px){
    .main-panel {
        width: 100%;
        @include transform-translate-x(0px);
        @include transition (0.30s, cubic-bezier(0.685, 0.0473, 0.346, 1));
       left: 0;
    }
    .navbar-toggle {
        display: block;
    }
    .sidebar{
        display: none;
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 200px;
        right: auto;
        left: 0px;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding: 0;

        @include transform-translate-x(-260px);
        @include transition (0.30s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    }
    .nav-open .sidebar {
        display: block;
        @include transform-translate-x(0px);
    }
    .nav-open .main-panel {
        width: calc(100% - 200px);
    }
}